*.class

# Package Files #
*.jar
*.war
*.ear
/.classpath
/.project
/.gradle/
/bin/
!gradle-wrapper.jar


# General excludes #
*.txt
!/src/*.txt

# IntelliJ Idea Files #
*.ipr
*.iml
*.iws
/eclipse/
/out/
/build/